.fa-cart-plus{
    font-size: 29px;
    padding: 0px;
}

.fa-globe {
    font-size: 22px;
    padding: 0px;
}

.header {
    background-color: #064444 !important;
    padding-right: 2rem;
    padding-left: 2rem;
}
